@model ArtTop.Models.Office

@{
    ViewData["Title"] = "Office";
    ViewData["ActionTitle"]= Model==null||Model.Id==0? "Create":"Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													@ViewData["ActionTitle"]
												</h3>
											</div>
										</div>
<div class="kt-portlet__body">
        <form asp-action="Create" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class ="form-control" asp-items="ViewBag.ServiceId"></select>
            </div>

             <div class="form-group">
                <label asp-for="OfficeSubServices" class="control-label"></label>

@*                  @Html.DropDownListFor(x => x.members, Model.memberList, new { @id="Members", @class= "select2 form-select",  multiple = 
                                "multiple", tabindex="3" });*@ 
                <select name="SubServicesIds" id="SubServicesIds" class ="form-control" asp-items="ViewBag.SubServicesIds" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <label asp-for="ArabicTitle" class="control-label"></label>
                <input asp-for="ArabicTitle" class="form-control" />
                <span asp-validation-for="ArabicTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishTitle" class="control-label"></label>
                <input asp-for="EnglishTitle" class="form-control" />
                <span asp-validation-for="EnglishTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicManagerName" class="control-label"></label>
                <input asp-for="ArabicManagerName" class="form-control" />
                <span asp-validation-for="ArabicManagerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManagerName" class="control-label"></label>
                <input asp-for="ManagerName" class="form-control" />
                <span asp-validation-for="ManagerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicAboutTitle" class="control-label"></label>
                <input asp-for="ArabicAboutTitle" class="form-control" />
                <span asp-validation-for="ArabicAboutTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishAboutTitle" class="control-label"></label>
                <input asp-for="EnglishAboutTitle" class="form-control" />
                <span asp-validation-for="EnglishAboutTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicDetails" class="control-label"></label>
                <textarea asp-for="ArabicDetails" class="form-control ckeditor"></textarea>
                <span asp-validation-for="ArabicDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishDetails" class="control-label"></label>
                <textarea asp-for="EnglishDetails" class="form-control ckeditor" ></textarea>
                <span asp-validation-for="EnglishDetails" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoverImage" class="control-label"></label>
                 <img src="~/assets/images/@Model.CoverImage" width="50px"/>
                <input type="hidden" asp-for="CoverImage" />
                <input type="file" name="CoverImageFile" class="form-control" />
                <span asp-validation-for="CoverImage" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="CoverImageArabic" class="control-label"></label>
                 <img src="~/assets/images/@Model.CoverImageArabic" width="50px"/>
                <input type="hidden" asp-for="CoverImageArabic" />
                <input type="file" name="CoverImageArabicFile" class="form-control" />
                <span asp-validation-for="CoverImageArabic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfileImage" class="control-label"></label>
                 <img src="~/assets/images/@Model.ProfileImage" width="50px"/>
                <input type="hidden" asp-for="ProfileImage" />
                <input type="file" name="ProfileImageFile" class="form-control" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
               <div class="form-group">
                <label asp-for="ProfileImageAr" class="control-label"></label>
                 <img src="~/assets/images/@Model.ProfileImageAr" width="50px"/>
                <input type="hidden" asp-for="ProfileImageAr" />
                <input type="file" name="ProfileImageArFile" class="form-control" />
                <span asp-validation-for="ProfileImageAr" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ArabicContactTitle" class="control-label"></label>
                <input asp-for="ArabicContactTitle" class="form-control" />
                <span asp-validation-for="ArabicContactTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishContactTitle" class="control-label"></label>
                <input asp-for="EnglishContactTitle" class="form-control" />
                <span asp-validation-for="EnglishContactTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArabicAddress" class="control-label"></label>
                <input asp-for="ArabicAddress" class="form-control" />
                <span asp-validation-for="ArabicAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnglishAddress" class="control-label"></label>
                <input asp-for="EnglishAddress" class="form-control" />
                <span asp-validation-for="EnglishAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkingHours" class="control-label"></label>
                <input asp-for="WorkingHours" class="form-control" />
                <span asp-validation-for="WorkingHours" class="text-danger"></span>
            </div>
                <div class="form-group">
                <label asp-for="WorkingHoursAr" class="control-label"></label>
                <input asp-for="WorkingHoursAr" class="form-control" />
                <span asp-validation-for="WorkingHoursAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Weekend" class="control-label"></label>
                <input asp-for="Weekend" class="form-control" />
                <span asp-validation-for="Weekend" class="text-danger"></span>
            </div>
                 <div class="form-group">
                <label asp-for="WeekendAr" class="control-label"></label>
                <input asp-for="WeekendAr" class="form-control" />
                <span asp-validation-for="WeekendAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionAR" class="control-label"></label>
                <input asp-for="MissionAR" class="form-control" />
                <span asp-validation-for="MissionAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionEn" class="control-label"></label>
                <input asp-for="MissionEn" class="form-control" />
                <span asp-validation-for="MissionEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mission" class="control-label"></label>
                <input asp-for="Mission" class="form-control" />
                <span asp-validation-for="Mission" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientAR" class="control-label"></label>
                <input asp-for="ClientAR" class="form-control" />
                <span asp-validation-for="ClientAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientEn" class="control-label"></label>
                <input asp-for="ClientEn" class="form-control" />
                <span asp-validation-for="ClientEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client" class="control-label"></label>
                <input asp-for="Client" class="form-control" />
                <span asp-validation-for="Client" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerAR" class="control-label"></label>
                <input asp-for="WorkerAR" class="form-control" />
                <span asp-validation-for="WorkerAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerEn" class="control-label"></label>
                <input asp-for="WorkerEn" class="form-control" />
                <span asp-validation-for="WorkerEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Worker" class="control-label"></label>
                <input asp-for="Worker" class="form-control" />
                <span asp-validation-for="Worker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceAR" class="control-label"></label>
                <input asp-for="ExperienceAR" class="form-control" />
                <span asp-validation-for="ExperienceAR" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExperienceEn" class="control-label"></label>
                <input asp-for="ExperienceEn" class="form-control" />
                <span asp-validation-for="ExperienceEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Experience" class="control-label"></label>
                <input asp-for="Experience" class="form-control" />
                <span asp-validation-for="Experience" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        <div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>
</div>
</div>
@section Scripts {
   
    <script>
        CreateEditor('#ArabicDetails');
        CreateEditor('#EnglishDetails');
 

      
   function CreateEditor(el)
   {
CKEDITOR.disableAutoInline = true;

    CKEDITOR.replace(el, {
      extraPlugins: 'sourcedialog',
      removePlugins: 'sourcearea',
      removeButtons: 'PasteFromWord'
    });
   }
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

