@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_white.cshtml";
}


<section class="project-details">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>
                    Medical Project
                </h5>
                <h2>
                    Prince Sultan Military City
                </h2>
                <img src="~/assets/images/prince-sultan-military-city.jpg" alt="Prince Sultan Military City"
                    class="project-img">
            </div>
            <div class="col-md-5 offset-md-1">
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
                <h3>
                    Subtitle write here
                </h3>
                <ul class="items">
                    <li>
                        Lorem Ipsum is simply dummy text of the printing
                    </li>
                    <li>
                        Printing and typesetting industry
                    </li>
                    <li>
                        Lorem Ipsum is simply dummy text of the printing
                    </li>
                    <li>
                        Printing and typesetting industry
                    </li>
                </ul>
                <div class="client-info">
                    <div class="client-info-text">
                        <label for="">Client</label>
                        <div class="client-name">
                            Sultan Militrary City
                        </div>
                    </div>
                    <div class="client-logo">
                        <img src="~/assets/images/sultan-military-city-logo.png" alt="prince-sultan-military-city">
                    </div>
                </div>
                <div class="separator"></div>
                <div class="project-footer">
                    <div class="project-date">
                        <label for="">Delivery Date</label>
                        <div>25 Jun, 2022</div>
                    </div>
                    <div class="project-share">
                        <label for="">Share Project</label>
                        <div>

                            <div class="social-links ">
                                <ul class="list-unstyled list-group list-group-horizontal justify-content-end">
                                    <li>
                                        <a href="#" class="tiktok">
                                            <i class="fa-brands fa-tiktok"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="linkedin">
                                            <i class="fa-brands fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="snapchat">
                                            <i class="fa-brands fa-snapchat"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="instagram">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="twitter">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="facebook">
                                            <i class="fa-brands fa-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
