@model ArtTop.Models.Client

@{
    ViewData["Title"] = "Clients";
    ViewData["ActionTitle"]= Model==null||Model.Id==0? "Create":"Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-8 offset-2">
        	<div class="kt-portlet">
										<div class="kt-portlet__head">
											<div class="kt-portlet__head-label">
												<h3 class="kt-portlet__head-title">
													@ViewData["ActionTitle"]
												</h3>
											</div>
										</div>
    <div class="kt-portlet__body">
        <form asp-action="Create" enctype="multipart/form-data">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="Id" /> 
            <div class="form-group">
                <label asp-for="TitleEn" class="control-label"></label>
                <input asp-for="TitleEn" class="form-control" />
                <span asp-validation-for="TitleEn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TitleAr" class="control-label"></label>
                <input asp-for="TitleAr" class="form-control" />
                <span asp-validation-for="TitleAr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                 <img src="~/assets/images/@Model.Image" width="200px"/>
                <input type="hidden" asp-for="Image" />
                <input type="file" name="ImageFile" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
           
        </form><div>
    <a asp-action="Index">Back to List</a>
</div>
    </div>
</div>
 </div>
 </div>
 

