@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout_white.cshtml";
}

<section class="service-slider">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/assets/images/slide-01.jpg" alt="">
            </div>
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="~/assets/images/slide-02.jpg" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>
<section class="what-we-do">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text">
                <div class="container">
                    <h5>
                        What we do
                    </h5>
                    <h2>
                        Consultant Services
                    </h2>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the Lorem Ipsum is simply dummy text of the printing
                        and
                        typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    </p>
                    <button class="btn btn-green">
                        Get Started
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sub-services-header">
    <div class="container">
        <div class="row">
            <h5 class="text-center">
                Book Appointment
            </h5>
            <h2 class="text-center white">
                Discover Our Consultant Services
            </h2>
        </div>
    </div>
</section>
<section class="sub-services-items">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="service-item">
                    <a href="#">
                        <div class="service-item-image"
                            style="background-image: url('/assets/images/subservice-01.jpg');">
                        </div>
                        <div class="content">
                            <div class="icon">
                                <img src="~/assets/images/subservice-icon-01.svg" alt="">
                            </div>
                            <div class="text">
                                <h3>
                                    Dermatology treatment
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <a href="#">
                        <div class="service-item-image"
                            style="background-image: url('/assets/images/subservice-02.jpg');">
                        </div>
                        <div class="content">
                            <div class="icon">
                                <img src="~/assets/images/subservice-icon-02.svg" alt="">
                            </div>
                            <div class="text">
                                <h3>
                                    Plastic surgery and laser
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-item">
                    <a href="#">
                        <div class="service-item-image"
                            style="background-image: url('/assets/images/subservice-03.jpg');">
                        </div>
                        <div class="content">
                            <div class="icon">
                                <img src="~/assets/images/subservice-icon-03.svg" alt="">
                            </div>
                            <div class="text">
                                <h3>
                                    Obstetrics and Gynecology
                                </h3>
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum is simply
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{

}